/*  your css code here. If applicable */
:root{
	background-color:rgb(135,206,235);
}

div p:first-child{
	background-color:black;
	color:white;
}

div p:nth-child(2){
	color:black;
}

div p:last-child{
	color:red;
}

li{
	width:50%;
	padding:10px
}

li:first-child{
	background-color:white;
	font-size:22px
}

li:last-child{
	background-color:white;
	font-size:22px
}

li:nth-child(2){
	background-color:gray;
}

li:nth-child(4){
	background-color:gray;
}

li:nth-child(3){
	background-color:pink;
}